body {
    background-color: beige;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight:350;
    letter-spacing: 0.0125em;
}

#pdfContent {
    background: white;
    overflow:hidden;
    width: 816.2px; 
    height: 1056px;
    display: flex;
}

#pdfContent p {
    margin-top: 5px;
    margin-bottom: 0;
}

#pdfContent h2 {
    margin-top:0px;
    margin-bottom: 8px;
}

#left {
    /* background: #3f51b5; */
    background: #05125a;
    height:100%;
    width:30%;
    padding-left: 15px;
    padding-right:15px;
    color: white;
    font-weight: 500;
    word-spacing: .035;
}

.photo {
    width: 175px;
    height: 175px;
    margin-top: 8.5px;
    left: calc(50% - 87.5px);
    border-radius: 10rem;
}

.imgLoc {
    height: auto;
    width: 0.8rem;
    margin-right: 5px;
}

.infoItem {
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    /* background: #324090; */
    background-color: rgb(1, 0, 17);
    color: white;
    margin-top:10px;
    margin-bottom:8px;
    margin-left: -15px;

    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    letter-spacing: .07em;
    font-weight: bold;
}

.two-columns {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-column-gap: 10px;
    grid-row-gap: 3px;
    li {
        padding-right:0px;
    }
}

#content {
    background: white;
    height:100%;
    width:70%;
    padding-left: 15px;
    padding-right:15px;
    color: black;
}

.title {
    font-weight: bold;
    font-size: 1.1em;
}

.subTitle {
    color: #404040;
    font-weight: 500;
}

.date {
    font-weight: bold;
    color: gray;
    font-size: .9em;
}

.corners {
    display: flex;
    justify-content: space-between;
}

.contentBody {
    margin-top: 6px;
    font-weight: 500;
    font-size: 1.1em;
}

.normalFont {
    font-weight: 400;
    font-size: .94em;
}

ul {
    margin: 0;
    padding: 0;
    font-size: .94em;
    font-weight: 400;
  }
  
  ul li {
    padding-left: 15px;
    list-style: none;
    margin-bottom: 7px;
    position: relative;
  }
  
  ul li:before {
    content: "\2022";
    color: #5b5b5b;
    display: inline-block;
    position: absolute;
    left: 0;
    top:-8px;
    font-size: 2em; 
  }
  
  li {
    padding-left: 30px;
  }
  
  .first {
    margin-top: 5px !important;
  } 

  .right-justify {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
  }

  .first-none {
    margin-top: 0px !important;
  }