body {
    background-color: beige;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight:500;
    letter-spacing: 0.025em;
}

#pdfContent {
    background: white;
    overflow:hidden;
    width: 795px; 
    height: 1122px;
    display: flex;
}

#pdfContent p {
    margin-top:7px;
    margin-bottom: 0;
}

#pdfContent h2 {
    margin-top:0px;
    margin-bottom: 10px;
}

#left {
    background: #3f51b5;
    height:100%;
    width:30%;
    padding-left: 15px;
    padding-right:15px;
    color: white;
}

.photo {
    width:175px;
    height:175px;
    margin-left:15px;
    margin-top:15px;
    border-radius:10rem;
}

.imgLoc {
    height: autom;
    width: 0.8rem;
    margin-right: 5px;
}

.infoItem {
    display: flex;
    align-items: center;
}

.header {
    width: 90%;
    background: #324090;
    color: white;
    margin-top:10px;
    margin-bottom:8px;
    margin-left: -15px;

    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    letter-spacing: .07em;
    font-weight: bold;
}

.two-columns {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-column-gap: 10px;
    grid-row-gap: 5px;

}

#content {
    background: white;
    height:100%;
    width:70%;
    padding-left: 15px;
    padding-right:15px;
    color: black;
}

.title {
    font-weight: bold;
    font-size: 1.1em;
}

.subTitle {
    color: #404040;
}

.date {
    font-weight: bold;
    color: gray;
    font-size: .9em;
}

.corners {
    display: flex;
    justify-content: space-between;
}

.contentBody {
    margin-top: 7px;
    font-weight: 500;
    font-size: 1.1em;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 1.01em;
  }
  
  ul li {
    padding-left: 25px;
    list-style: none;
    margin-bottom: 3px;
    position: relative;
  }
  
  ul li:before {
    content: "\2022";
    color: #d1d5db;
    display: inline-block;
    position: absolute;
    left: 0;
    top:-8px;
    font-size: 2em; 
  }
  
  li {
    padding-left: 30px;
  }
  
  .first {
    margin-top: 5px !important;
  } 

  .right-justify {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
  }

  .first-none {
    margin-top: 0px !important;
  }